# Игнорировать кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.egg-info
*.cache
*.coverage
*.log

# Игнорировать файлы и папки, связанные с виртуальным окружением
venv/
env/
*.venv
wood_bot/


# Игнорировать файлы базы данных, если вы не хотите их включать в репозиторий
*.db
*.sqlite

# Игнорировать файлы настроек
config.py

# Игнорировать файлы и папки, связанные с IDE и редакторами
.vscode/
.idea/
*.swp
*.swo
*.swn

# Другие временные или не нужные файлы
*.bak
*.tmp
*.log
*.DS_Store
